/*************select*****************/
.select-container {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 1rem;
  .select {
    width: 20rem;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    font-size: 1.5rem;
    padding: 0.5rem;
    border: none;
    outline: none;
  }
}

/***************Weather of a city*******************/
.city-weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  .city-name {
    font-size: 2rem;
  }
  .weather-description {
    font-size: 1rem;
    // margin-top: 1rem;
  }
  .weather-icon {
    width: 8%;
    // margin-top: -2rem;
    // margin-bottom: -2rem;
  }
  .weather-degree {
    margin-top: -1rem;
    font-size: 3rem;
  }
  .weather-min-max {
    font-weight: bold;
    .highest-degree {
      margin-right: 1rem;
    }
  }
  .weather-feel-like {
    font-size: 1rem;
    font-weight: bold;
  }
  .weather-humidity {
    font-weight: bold;
  }
  .see-forecast,
  .close-forecast {
    border: 1px solid #3498db;
    width: 15rem;
    background: none;
    padding: 10px 20px;
    font-size: 1.5rem;
    margin-top: 0.5rem;
    cursor: pointer;
    color: #3498db;
    border-radius: 1%;
    transition: 0.8s ease-in-out;
    &:hover {
      color: #fff;
      background-color: #3498db;
    }
  }
}

/*************hourly forecast container****************/
.hourly-forecast-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  .hourly-forecast {
    width: 8rem;
    margin-left: 1rem;
    // border: 1px solid #3498db;
    border-radius: 2rem;
    background: #87cefa;
    color: #fff;
  }
  .time,
  .description,
  .image-container,
  .temperature {
    text-align: center;
  }
}
